body{
	min-width:600px;
	color:#FFFFFF;
	background-color:#002811;
	font-family:Calibri;
	text-shadow: 1px 1px 10px #000000;
}

h1{
	position:static;
	max-width:1200px;
	min-width:320px;
	margin:0%;
}

/* hyperlink CSS */
a:link {
    color: #ffff00;
}

a:visited {
    color: #00ffff;
}

/*hyperlink end*/

#wrapper{
	position:static;
	border: 1px solid black;
	max-width:1200px;
	min-width:320px;
	margin: auto;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
	background-color:#000000;
	/*old color bg color: #00170A*/
	/*box-shadow:5px 5px 10px #000000;*/
	*z-index: -1;
}



#header{
	margin:auto;
	text-align: center;
	border:10px;
	padding:1px;
}

img.banner{
	margin:auto;
	text-align: center;
	width:auto;
	max-width:100%;
	height:auto;
}

#main{

}

.content{
	position:relative;
	border: 1px solid black;
	padding:10px;
	margin-bottom:20px;
}

img.screenshot{
	position:relative;

}

/*navbar CSS*/

#navbar {
	position:relative;
	margin-top:10px;
	margin-right:10px;
}
ul.navbar{
	position:relative;
	float:center;
  margin:auto;
  padding: 5px;
  background-color:#00421B;
  list-style-type:none;
  border-style:solid;
	border-width:1px;
	border-color:#00DF59;
	font-size:100%
}

ul.navbar li{
	position:relative;
	float:center;
	margin:0px;
	display:inline;
	text-align:center;
	list-style:none;
}

ul.navbar li a{
	position:relative;
	float:center;
  padding: 6px 16px;
	font-size:85%;
  text-decoration:none;
}

ul.navbar li a:hover{
	padding-top:8px;
	background-color:#00DF59;
	text-shadow: 1px 1px 10px #FFFFFF;
}

dt{
	font-weight:bold;
	font-size:120%;
}
p{
	font-size:100%;
	list-style-type:circle;
}

/*Navbar end */

.terminalblock{
	background-color:#000000;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	*position:relative;
	border-style:dashed;
	border-width:1px;
	font-family:Courier;
	border-color:#B9AF00;
	font-size:100%;
}

.codeblock{
	background-color:#00240F;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	*position:relative;
	border-style:dashed;
	border-width:1px;
	font-family:Courier;
	border-color:#B9AF00;
	font-size:100%;
}

#footer{
	float:center;
	background-color:#00421B;
	margin:auto;
	*position:relative;
	width:90%;
	border-style:solid;
	border-width:1px;
	border-color:#00DF59;
}
